.message{
    font-weight: 600;
    color:orangered;
}

.form_element{
    padding: 10px;
}

body{
    background-color: #e3f2fd;
}

.login, .register{
    margin: auto;
	text-align: center;
}

label {
    display: inline-block;
    width: 110px;
    }
  input {
    padding: 5px 10px;
  }