@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    width: 100vw;
}

.cd__main{
   position: relative;
   background: linear-gradient(to right, #4e54c8, #8f94fb) !important;
}

#header{
    height: 100px;
    margin: auto;
    padding:20px;
    width: 600px;
}

.about_us{
    padding-top: 100px;
}

Select{
    padding:2px;
}

.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
.gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }

#calendar {
    background: #fff;
    width: 50vw;
    min-height: 50vh;
    margin: 40px;
    padding: 20px;
}

/*Set width for every <p> and <a>*/
  @media (max-width: 550px) {
    p, a { font-size: 1em; }
  }
  
  @media (min-width: 551px) {
    p, a { font-size: 1.1rem; }
  }

#text_section{
    border-left: 2px solid blue;
    padding: 100px;
    margin-top: 100px;
    margin-bottom: 100px;

}

.fc-event {
    border: 1px solid #eee !important;
}

.fc-content {
    padding: 3px !important;
}

.fc-content .fc-title {
    display: block !important;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    font-weight: 500;

}

.fc-customButton-button {
    font-size: 13px !important;
    top: 80px;
    transform: translateY(-50%);
    margin:10px;
}



.form-group {
    margin-bottom: 1rem;
}

.form-group>label {
    margin-bottom: 10px;
}

#delete-modal .modal-footer > .btn {

    border-radius: 3px !important; 
    padding: 0px 8px !important;
    font-size: 15px;

 }




.fc-scroller {
    overflow-y: hidden !important;
}

.context-menu {
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    padding: 5px;
}

/* .context-menu.show {
    display: block;
  } */

.context-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.context-menu ul>li {
    display: block;
    padding: 5px 15px;
    list-style-type: none;
    color: #333;
    cursor: pointer;
    margin: 0 auto;
    transition: 0.10s;
    font-size: 13px;


}

.context-menu ul>li:hover {
    color: #fff;
    background-color: #007bff;
    border-radius: 2px;

}

.fa,
.fas {
    font-size: 13px;
    margin-right: 4px;
}